.element {
    position: absolute;

    display: flex;

    border: 2px solid transparent;
}

.element_disabled {
    pointer-events: none;
}

.image {
    width: -webkit-fill-available;
    object-fit: cover;
}

.text {
    width: -webkit-fill-available;

    outline: none;
}