.toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;

    background-color: var(--accent-bg-color);
    border-radius: 30px;
}

.toolbar__item {
    display: flex;
    padding: 5px;

    font-family: var(--base-font);
    font-size: 24px;
    color: var(--default-text-color);

    border-radius: 50%;
    background-color: transparent;

    transition: background-color 0.2s ease;

    cursor: pointer;

    &:hover {
        background-color: var(--accent-bg-color2);
    }
}

.toolbar__item_title {
    border: 0;
    border-radius: 10px;
    background-color: var(--default-bg-color);

    cursor: default;

    &:hover {
        background-color: var(--default-bg-color);
    }
}

.toolbar__input {
    max-width: 100px;
    height: 100%;

    font-family: inherit;
    font-size: 16px;
    color: var(--default-text-color);

    border: 0;
    outline: none;

    transition: max-width 0.3s ease;
}

.toolbar__input_expanded {
    max-width: 200px;
}