.toolbar {
  display: flex;
  align-items: center;
}

.toolbar__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;

  background-color: var(--accent-bg-color);
  border-radius: 30px;

  transition: background-color 0.3s ease;
}

.toolbar__colorpicker {
  position: absolute;

  width: 0;
  height: 0;

  opacity: 0;
  pointer-events: none;
}
