.holder {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.holder_image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    padding: 5px;

    font-family: var(--base-font);

    border: 1px solid var(--default-border-color);
}

.holder__btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    li {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        border: 1px solid var(--default-border-color);
        border-radius: 5px;
    }
}