.container {
    min-width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        scroll-behavior: smooth;
    }

    &::-webkit-scrollbar-track {
        background: var(--scroll-track-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb-color);
        border-radius: 6px;
    }
}

.frame {
    display: flex;
    gap: 10px;

    font-family: var(--base-font);
    color: var(--default-text-color);

    user-select: none;
}

.holder {
    position: relative;

    width: calc((1280px * 0.9) * 0.2 + (3px * 2)); /*320px*/
    height: calc((720px * 0.9) * 0.2 + (3px * 2)); /*180px*/

    font-family: var(--base-font);
    color: var(--default-text-color);

    border: 3px solid var(--default-border-color);
    border-radius: 5px;

    user-select: none;
    transition: border 0.3s;

    &:hover {
        border: 3px solid var(--accent-border-color);
    }

    &.holderActive {
        border-color: var(--selected-border-color);
    }
}

.holder_dragged {
    opacity: 0.4;
}

.holder_drop_before {
    &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;

        width: calc(100% - 6px);
        height: calc(50% - 3px);

        border-radius: 1px 1px 0 0;
        background-color: var(--modal-overlay-bg);

        opacity: 0.4;
    }
}

.holder_drop_after {
    &:after {
        content: "";
        position: absolute;
        bottom: 3px;
        left: 3px;
        z-index: 1;

        width: calc(100% - 6px);
        height: calc(50% - 3px);

        border-radius: 0 0 1px 1px;
        background-color: var(--modal-overlay-bg);

        opacity: 0.4;
    }
}

.holder__num {
    font-family: inherit;
    color: inherit;
}
