.presentation {
    width: 100%;
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 10px 10px;

    background-color: var(--default-bg-color);

    transition: background-color 0.3s ease;
}

.presentation__container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}