.presentation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 10px 10px;

    background-color: var(--default-bg-color);

    transition: background-color 0.3s ease;
}

.presentation__container {
    width: 100%;
    height: calc(100vh - 150px); /* appHeader + toolbar + gap + pb */
    display: flex;
    gap: 10px;
}

.statusModal {
    position: absolute;
    top: -100px;
    left: 50%;

    padding: 20px;

    border: 1px solid var(--form-wrapper-bg-default);
    border-radius: 20px;
    background-color: var(--info-default-message);

    transition: top 0.3s ease;

    transform: translateX(-50%);

    &.statusModalShown {
        top: 20px;
    }
}