.control {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    font-family: var(--base-font);
}

.button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;;

    color: var(--default-text-color);

    border-radius: 5px;
    border: 1px solid var(--default-border-color);
    background-color: transparent;
}

.button_active {
    border: 1px solid var(--accent-border-color);
    background-color: var(--accent-bg-color2);

    transition: background-color 0.3s ease;

    cursor: pointer;

    &:hover {
        background-color: var(--accent-bg-color);
    }
}

.holder {
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1;
    color: var(--default-text-color);
}

.selectTrigger {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 0;

    border: 0;
    border-radius: 5px;

    cursor: pointer;
}

.dropdownList {
    position: absolute;
    top: calc(100% + 10px);
    z-index: 10000;

    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

    color: var(--default-text-color);

    border-radius: 5px;
    background-color: var(--accent-bg-color2);
}

.dropdownItem {
    width: 100%;
    padding: 5px 10px;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--accent-bg-color);
    }
}