.wrapper {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--extra-font);
}

.form {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.formHeading {
    font-family: var(--extra-font);
    font-size: 20px;
    color: var(--default-text-color);
    text-align: center;

    user-select: none;

    transition: color 0.3s ease;
}

.formFieldBox {
    position: relative;
}

.field {
    width: 100%;
    padding: 10px;

    font-family: var(--extra-font);

    border: 2px solid var(--default-border-color);
    border-radius: 10px;

    transition: border 0.3s ease;

    &.fieldError {
        border-color: var(--error-default-color);
    }
}

.submitButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    font-family: var(--extra-font);
    font-size: 16px;
    line-height: 1;
    color: var(--form-button-text-default);

    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--form-button-bg-default);

    transition: background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

    cursor: pointer;

    &:hover {
        color: var(--form-button-text-accent);

        border: 1px solid var(--form-button-bg-default);
        background-color: transparent;
    }
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.errorText {
    position: absolute;

    margin-top: 4px;

    color: var(--error-default-color);
    font-size: 0.875rem;
}

.errorPopup {
    position: fixed;
    right: 20px;
    bottom: 20px;

    padding: 20px;

    background-color: rgba(var(--form-button-bg-default-rgb), 0.7);
    border-radius: 20px;

    transform: translateX(150%);
    transition: transform 0.3s ease;

    &.showPopup {
        transform: translateX(0);
    }
}

.errorPopupMessage {

}