.btn {
    width: 100%;
    padding: 5px;

    font-family: var(--base-font);
    font-size: 14px;
    line-height: 1;
    color: var(--default-text-color);

    border: 1px solid var(--default-border-color);
    border-radius: 5px;
    background-color: transparent;

    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--accent-bg-color2);
    }
}