.logoWrapper {
    position: relative;
    z-index: 1;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    user-select: none;
}

.logo {
    font-family: var(--extra-font);
    font-size: 24px;
    line-height: 1;
    color: var(--default-text-color);

    transition: color 0.3s ease;
}

.handlers {
    display: flex;
    align-items: center;
}

.logout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    font-family: var(--extra-font);
    font-size: 16px;
    line-height: 1;
    color: var(--form-button-text-default);

    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--form-button-bg-default);

    transition: background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

    cursor: pointer;

    &:hover {
        color: var(--form-button-text-accent);

        border: 1px solid var(--form-button-bg-default);
        background-color: transparent;
    }
}