.avatar {
    min-width: 34px;
    min-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 20px;

    font-family: var(--extra-font);
    font-size: 18px;
    line-height: 1;

    border-radius: 50%;

    list-style: none;

    transition: background-color 0.3s ease;

    cursor: pointer;
}