.slide {
    position: relative;

    overflow: hidden;
    user-select: none;
}

.slide_preview {
    width: 100%;

    /*border: 3px solid var(--default-border-color);*/
    /*border-radius: 5px;*/

    transition: border 0.3s ease;

    /*&:hover {*/
    /*    border: 3px solid var(--accent-border-color);*/
    /*}*/
}

.slide_active {
    /*border-color: var(--selected-border-color);*/
}

.slide_editable {
    border: 1px solid var(--default-border-color);
}

.slide_reset {
    border-radius: 0 !important;
    border: none !important;
}