.editor {
    max-width: 1920px;
    max-height: 1080px;
    width: 100vw;
    height: calc(100vh - 104px);
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--default-border-color);

    overflow: hidden;
}

.editor__container {
    max-width: 100%;
}