.element {
    position: absolute;

    display: flex;

    border: 1px solid rgba(var(--accent-border-color-rgb), 0.5);
}

.element_active {
    border: 2px solid var(--selected-border-color);
}

.image {
    width: -webkit-fill-available;
    object-fit: cover;
}

.text {
    width: -webkit-fill-available;
}