.themeSwitcher {
    min-width: 50px;
    max-height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 20px;

    list-style: none;
}

/*.theme {*/
/*    transition: margin 0.3s ease;*/
/*}*/

/*.light {*/
/*    margin-right: auto;*/
/*}*/

/*.dark {*/
/*    margin-left: auto;*/
/*}*/