.toast {
    &.error {
        position: fixed;
        right: 20px;
        bottom: 20px;

        padding: 20px;

        background-color: rgba(var(--form-button-bg-default-rgb), 0.7);
        border-radius: 20px;

        transform: translateX(150%);
        transition: transform 0.3s ease;

        &.visible {
            transform: translateX(0);
        }
    }

    &.saving,
    &.success {
        position: absolute;
        top: -100px;
        left: 50%;

        padding: 20px;

        border: 1px solid var(--form-wrapper-bg-default);
        border-radius: 20px;
        background-color: var(--info-default-message);

        transition: top 0.3s ease;

        transform: translateX(-50%);

        &.visible {
            top: 20px;
        }
    }
}

.message {
    color: var(--accent-text-color2);
}