.container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound {
    font-family: var(--base-font);
    color: var(--default-text-color);
}