.collectionItemWrapper {
    width: 320px;
    height: 180px;

    overflow: hidden;
}

.preview {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.previewText {
    max-width: 200px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: var(--extra-font);
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--default-text-color);

    transition: color 0.3s ease;

    &.previewHeading {
        font-weight: 600;
        font-size: 16px;
    }
}